body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  min-width: 100px;
  width: 100vw;
}

header,
footer {
  align-items: center;
  display: flex;
  flex: 1;
}

.top-title,
.bottom-title {
  margin: 20px;
  width: 200px;
}
.top-title h1,
.bottom-title h2 {
  width: 100%;
}
.top-title h1 {
  text-align: center;
}
.bottom-title h2 {
  text-align: right;
}

.center {
  display: flex;
  flex: 2;
  font-display: row;
}
.center__main-blocks {
  display: flex;
  flex: 4;
  flex-direction: column;
}
.main-blocks__top-part {
  display: flex;
  flex: 5;
}
.center__central-blocks {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.center__main {
  flex: 5;
}
.center__top,
.center__bottom {
  flex: 1;
}
.center__right {
  flex: 1;
}
nav {
  align-items: center;
  display: flex;
  flex: 1;
}
