@font-face {
  font-family: "Izax";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Izax.eot");
  src: local("☺"), url("fonts/Izax.woff") format("woff"),
    url("fonts/Izax.ttf") format("truetype"),
    url("fonts/Izax.svg") format("svg");
}
@font-face {
  font-family: "Izax_Thin";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Izax_Thin.eot");
  src: local("☺"), url("fonts/Izax_Thin.woff") format("woff"),
    url("fonts/Izax_Thin.ttf") format("truetype"),
    url("fonts/Izax_Thin.svg") format("svg");
}
