/* BASICS */
* {
  --white-color: #fff;
  --lightgrey-color: #c9c9c9;
  --grey-color: #a8a8a8;
  --darkgrey-color: #444;
  --black-color: #000;
  --orange-color: #ff9932;
  --green-color: #30ff3e;
  --lightblue-color: #89c8ff;
  --red-color: #f00;
  --pink-color: #f13050;
  --sand-color: #796748;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

/* SAME COLORS */
header,
footer {
  background: var(--darkgrey-color);
}
.center__top,
.center__bottom,
body {
  background: var(--black-color);
}
nav,
.center__right {
  background: var(--white-color);
}
.center__main,
.top-title,
.bottom-title {
  background: var(--lightgrey-color);
}

/* HEADER_FOOTER */
header {
  background: url("./images/b&w_forest.jpg") center 100% / cover no-repeat;
  justify-content: right;
}
footer {
  display: flex;
}
footer p {
  color: var(--white-color);
  flex: 4;
  font-size: 14px;
  margin: 10px;
  opacity: 0.2;
  text-align: justify;
}

/*TITLES*/
.top-title h1,
.bottom-title h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  width: 100%;
}
.top-title h1 {
  text-align: center;
}
.bottom-title h2 {
  padding-right: 15px;
  text-align: right;
}
.top-title,
.bottom-title,
.center__main {
  border: 5px solid var(--white-color);
  border-radius: 15px;
  box-shadow: 0 0 8px var(--white-color);
}
.top-title:hover,
.bottom-title:hover,
.center__main:hover {
  box-shadow: 0 0 20px var(--white-color);
}

/* Center__Main */
.center__main {
  margin: 0 15px;
  padding: 20px;
}
.center__main p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.center__main:hover {
  background: var(--orange-color); /* Old browsers */
  background: linear-gradient(
    top,
    var(--orange-color) 0%,
    var(--green-color) 50%,
    var(--lightblue-color) 100%
  ); /* FF3.6-15 */
  background: linear-gradient(
    top,
    var(--orange-color) 0%,
    var(--green-color) 50%,
    var(--lightblue-color) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    var(--orange-color) 0%,
    var(--green-color) 50%,
    var(--lightblue-color) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--orange-color)', endColorstr='var(--lightblue-color)',GradientType=0 ); /* IE6-9 */
}

/* Center sides */
.center__top,
.center__bottom {
  display: flex;
  justify-content: center;
}
.center__top p,
.center__bottom p {
  color: var(--white-color);
  display: flex;
  font-size: 25px;
  line-height: 30px;
  opacity: 0.5;
  text-align: center;
  text-transform: capitalize;
}
.center__right {
  border-radius: 20px;
  margin: 0 0 20px;
}
.center__right a {
  color: var(--red-color);
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  padding: 20px 0 0;
  text-align: center;
}
.center__right h2:hover {
  text-decoration: underline;
}
.center__right ul {
  margin: 30px;
  text-align: right;
}
.center__right li {
  font-style: italic;
  line-height: 25px;
}
.center__right li:nth-child(2) {
  padding-right: 10%;
}
.center__right li:nth-child(3) {
  padding-right: 20%;
}
.center__right li:nth-child(4) {
  padding-right: 30%;
}
.center__right li:nth-child(5) {
  padding-right: 40%;
}
.center__right li:nth-child(6) {
  padding-right: 50%;
}
.center__right li:nth-child(7) {
  padding-right: 60%;
}
.center__right li:nth-child(8) {
  padding-right: 70%;
}
.center__right li:nth-child(9) {
  padding-right: 80%;
}
.center__right li:nth-child(10) {
  padding-right: 90%;
}
nav {
  border-radius: 20px;
  padding: 15px;
}
nav li {
  color: var(--grey-color);
  line-height: 30px;
}
nav li a {
  color: var(--pink-color);
}
nav li a:hover {
  font-size: 20px;
}
nav li::before {
  background-color: var(--pink-color);
  border-radius: 50%;
  box-shadow: 0 3px 2px var(--sand-color);
  content: "";
  display: inline-block;
  height: 10px;
  margin: 0 10px 0 0;
  width: 10px;
}
nav li:nth-child(3)::before {
  background-color: var(--grey-color);
}
