/* BASICS */
* {
  --white-color: #fff;
  --black-color: #000;
  --lightorange-color: #fde9d9;
  --blue-color: #9acdff;
  --lightblue-color: #c3dbf3;
  --richblue-color: #2e97ff;
  --lightgreen-color: #eaf1dd;
  font-weight: 500;
}
/* SAME COLORS */
header,
footer {
  background: var(--lightblue-color);
}
.center__top,
.center__bottom,
body {
  background: var(--white-color);
}
nav,
.center__right {
  background: var(--lightorange-color);
}
.center__main,
.top-title,
.bottom-title {
  background: var(--lightgreen-color);
}
.top-title,
.bottom-title,
.center,
.center__main {
  border: 1px solid var(--black-color);
}
.center__top {
  border-left: 1px solid var(--black-color);
}
.center__bottom,
.center__top {
  border-right: 1px solid var(--black-color);
}
nav {
  border-bottom: 1px solid var(--black-color);
}

/* HEADER_FOOTER */
header,
footer {
  align-items: unset;
  padding: 15px;
  position: relative;
}
header p,
footer p {
  flex: 4;
  line-height: 20px;
  text-align: justify;
}

/*TITLES*/
.top-title,
.bottom-title {
  align-items: center;
  align-self: center;
  display: flex;
  font-size: 20px;
}
.top-title h1,
.bottom-title h2 {
  line-height: 30px;
}
.top-title h1 {
  text-align: center;
  width: 100%;
}
.bottom-title h2 {
  padding-right: 15px;
  text-align: right;
  width: 100%;
}

/* Center__Main */
.center__main {
  overflow: auto;
  padding: 15px;
}
.center__main p {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

/* Center sides */
.center__top,
.center__bottom {
  align-items: center;
  display: flex;
  padding: 5px;
}
.center__top p,
.center__bottom p {
  line-height: 20px;
  text-align: center;
  width: 100%;
}
.center__right {
  padding: 20px;
}
.center__right p {
  font-style: italic;
  line-height: 20px;
}
.center__right p::first-letter {
  font-size: 25px;
}
nav {
  padding: 15px;
}
nav li {
  color: var(--blue-color);
  line-height: 50px;
}
nav li a {
  color: var(--richblue-color);
}
nav li a:hover {
  font-size: 20px;
}
nav li::before {
  background-color: var(--richblue-color);
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 10px;
  margin: 0 10px 0 0;
  width: 10px;
}
nav li:nth-child(4)::before {
  background-color: var(--blue-color);
}
