/* BASICS */
* {
  --white-color: #fff;
  --grey-color: #4a4752;
  --greyviolet-color: #584685;
  --darkblue-color: #26007e;
  --greydarkblue-color: #1b2c63;
  color: var(--darkblue-color);
  font-family: "Izax";
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

/* SAME COLORS */
header,
footer {
  background: #0f489c;
}
.center__top,
.center__bottom,
body {
  background: #0a93d3;
}
nav,
.center__right {
  background: #d4d4d4;
}
.center__main,
.top-title,
.bottom-title {
  background: #f3f3f3;
}

/* HEADER_FOOTER */

header {
  border-bottom: 3px solid var(--darkblue-color);
  box-shadow: 0 5px 15px var(--greydarkblue-color);
  z-index: 3;
}
header div > .top-title {
  margin: 0 0 0 30px;
}
.h2 {
  width: 300px;
}
.h2,
aside h2 {
  border: 10px double var(--darkblue-color);
  margin: 15px;
  padding: 10px;
}
header h2,
aside h2 {
  color: var(--white-color);
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-shadow: 0 5px 5px var(--darkblue-color);
}
header p {
  color: var(--white-color);
  font-size: 25px;
  line-height: 30px;
  margin: 50px 30px;
  opacity: 0.5;
}
footer {
  align-items: center;
  background: url("./images/css_back.jpg") 100% no-repeat;
  background-size: cover;
  border-top: 3px solid var(--darkblue-color);
  display: flex;
  justify-content: right;
  opacity: 0.9;
  padding: 10px;
}

/*TITLES*/
.top-title,
.bottom-title {
  border: 5px solid var(--darkblue-color);
  border-radius: 15px;
  box-shadow: 0 5px 10px var(--greydarkblue-color);
  padding: 5px;
}
.top-title h1,
.bottom-title h2 {
  align-self: center;
  font-size: 30px;
  width: 100%;
}
.top-title h1 {
  text-align: center;
}
.bottom-title h2 {
  padding-right: 5px;
  text-align: right;
}

/* Center__Main */
.center__main {
  align-items: center;
  border: 5px solid var(--darkblue-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

/* Center sides */
.center__top,
.center__bottom {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.center__top p,
.center__bottom p {
  color: var(--white-color);
  font-size: 40px;
  line-height: 45px;
  opacity: 0.5;
  text-transform: uppercase;
}
.center__right ol {
  margin: 10px 40px;
}
.center__right li {
  font-size: 20px;
  padding: 0 0 5px;
}
nav {
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 15px var(--greydarkblue-color);
  position: relative;
  z-index: 2;
}
nav li {
  color: var(--greyviolet-color);
  font-size: 25px;
  line-height: 30px;
  padding: 0 15px;
}
nav li a {
  color: var(--darkblue-color);
  font-size: 25px;
}
nav li a:hover {
  font-size: 30px;
}
nav li::before {
  background-color: var(--darkblue-color);
  border-radius: 50%;
  box-shadow: 0 3px 2px var(--grey-color);
  content: "";
  display: inline-block;
  height: 10px;
  margin: 0 10px 0 0;
  width: 10px;
}
nav li:nth-child(2)::before {
  background-color: var(--greyviolet-color);
}
