/* BASICS */
* {
  --lightblue-color: #98d3e2;
  --richblue-hover-color: #20b2aa;
  --red-color: #f13050;
  --blue-color: #197c83;
  --lightred-color: #be7480;
  font-family: "Playfair Display";
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

/* SAME COLORS */
header,
footer {
  background: #2498a0;
}
.center__top,
.center__bottom,
body {
  background: var(--lightblue-color);
}
nav,
.center__right {
  background: #fff0d3;
}
.center__main,
.top-title,
.bottom-title {
  background: #f3f3f3;
}

/* HEADER_FOOTER */
header,
footer {
  justify-content: space-between;
}
header div,
footer div {
  align-items: center;
  display: flex;
}
header div q {
  font-style: italic;
  quotes: "\00AB""\00BB""\201E""\201C";
  text-align: center;
}
header q,
footer p {
  color: var(--lightblue-color);
  margin: 20px;
}

/*TITLES*/
.top-title,
.bottom-title {
  border: 5px solid var(--blue-color);
  border-radius: 15px;
  box-shadow: -8px 0 8px #084347;
  padding: 5px;
}
.top-title h1,
.bottom-title h2 {
  font-size: 30px;
  line-height: 30px;
}

/* Center__Main */
.center__main {
  border: 3px solid var(--red-color);
  border-radius: 15px;
  padding: 30px 30px 60px;
  position: relative;
}
.center__main p::first-letter {
  font-size: 30px;
  padding-left: 15px;
}
.center__main span {
  color: var(--red-color);
}
.center__main a {
  bottom: 30px;
  color: var(--blue-color);
  font-style: italic;
  margin: 0 0 0 -30px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  text-transform: lowercase;
  width: 100%;
}
.center__main a:hover {
  color: var(--richblue-hover-color);
}

/* Center sides */
.center__top,
.center__bottom {
  align-items: center;
  display: flex;
  justify-content: center;
}
.center__top p,
.center__bottom p {
  color: var(--blue-color);
  font-size: 40px;
  line-height: 40px;
  opacity: 0.5;
  text-transform: uppercase;
}
.center__right {
  background: #0e1a2a url("./images/girl.jpeg") 30% 50% no-repeat;
}
nav {
  border-radius: 20px;
}
nav li {
  color: var(--lightred-color);
  height: 50px;
  padding: 0 0 0 15px;
}
nav li a {
  color: var(--red-color);
}
nav li a:hover {
  font-size: 20px;
}
nav li::before {
  background-color: var(--red-color);
  border-radius: 50%;
  box-shadow: 0 3px 2px #796748;
  content: "";
  display: inline-block;
  height: 10px;
  margin: 0 10px 0 0;
  width: 10px;
}
nav li:nth-child(1)::before {
  background-color: var(--lightred-color);
}
