/* BASICS */
* {
  --white-color: #fff;
  --grey-color: #4a4752;
  --greyviolet-color: #584685;
  --darkblue-color: #26007e;
  --greydarkblue-color: #1b2c63;
  --bg-blue: #0a93d3;
  --bg-dark-blue: #0f489c;
  --bg-grey: #d4d4d4;
  color: var(--darkblue-color);
  font-family: "Izax";
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

/* SAME COLORS */
header,
footer {
  background: var(--bg-dark-blue);
}
body {
  background: var(--bg-blue);
}
nav,
aside {
  background: var(--bg-grey);
}
figure,
header section,
footer section {
  background: var(--white-color);
}

/* HEADER_FOOTER */
header {
  border-bottom: 3px solid var(--darkblue-color);
  box-shadow: 0 5px 15px var(--greydarkblue-color);
  z-index: 3;
}
header div {
  width: 300px;
}
header div,
aside h3 {
  border: 10px double var(--darkblue-color);
  margin: 15px;
  padding: 10px;
}
h3 {
  color: var(--white-color);
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-shadow: 0 5px 5px var(--darkblue-color);
}
header p {
  color: var(--white-color);
  font-size: 25px;
  line-height: 30px;
  margin: 50px 30px;
  opacity: 0.5;
}
footer {
  align-items: center;
  background: url("./images/css_back.jpg") 100% no-repeat;
  background-size: cover;
  border-top: 3px solid var(--darkblue-color);
  display: flex;
  justify-content: right;
  opacity: 0.9;
  padding: 10px;
}

/*TITLES*/
header section,
footer section {
  border: 5px solid var(--darkblue-color);
  border-radius: 15px;
  box-shadow: 0 5px 10px var(--greydarkblue-color);
  padding: 5px;
}
h1,
h2 {
  align-self: center;
  font-size: 30px;
  width: 100%;
}
h1 {
  text-align: center;
}
h2 {
  padding-right: 5px;
  text-align: right;
}

/* Center__Main */
figure {
  align-items: center;
  border: 5px solid var(--darkblue-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

/* Center sides */
main section {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}
main p {
  color: var(--white-color);
  font-size: 40px;
  line-height: 45px;
  opacity: 0.5;
  text-transform: uppercase;
}
ol {
  margin: 10px 40px;
}
ol li {
  font-size: 20px;
  padding: 0 0 5px;
}
nav {
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 15px var(--greydarkblue-color);
  position: relative;
  z-index: 2;
}
nav li {
  color: var(--greyviolet-color);
  font-size: 25px;
  line-height: 30px;
  padding: 0 15px;
}
nav li a {
  color: var(--darkblue-color);
  font-size: 25px;
}
nav li a:hover {
  font-size: 30px;
}
nav li::before {
  background-color: var(--darkblue-color);
  border-radius: 50%;
  box-shadow: 0 3px 2px var(--grey-color);
  content: "";
  display: inline-block;
  height: 10px;
  margin: 0 10px 0 0;
  width: 10px;
}
nav li:nth-child(2)::before {
  background-color: var(--greyviolet-color);
}
