/* BASICS */
* {
  --white-color: #fff;
  --lightgrey-color: #c9c9c9;
  --grey-color: #a8a8a8;
  --darkgrey-color: #444;
  --black-color: #000;
  --orange-color: #ff9932;
  --green-color: #30ff3e;
  --lightblue-color: #89c8ff;
  --red-color: #f00;
  --pink-color: #f13050;
  --sand-color: #796748;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

/* SAME COLORS */
header,
footer {
  background: var(--darkgrey-color);
}
body {
  background: var(--black-color);
}
nav,
aside {
  background: var(--white-color);
}
article,
header section,
footer section {
  background: var(--lightgrey-color);
}

/* HEADER_FOOTER */
header {
  background: url("./images/b&w_forest.jpg") center 100% / cover no-repeat;
  justify-content: right;
}
footer {
  display: flex;
}
footer p {
  color: var(--white-color);
  flex: 4;
  font-size: 14px;
  margin: 10px;
  opacity: 0.2;
  text-align: justify;
}

/*TITLES*/
h1,
h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  width: 100%;
}
h1 {
  text-align: center;
}
h2 {
  padding-right: 15px;
  text-align: right;
}
header section,
footer section,
article {
  border: 5px solid var(--white-color);
  border-radius: 15px;
  box-shadow: 0 0 8px var(--white-color);
}

/* Center__Main */
article {
  margin: 0 15px;
  padding: 20px;
}
article p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.center__main:hover {
  background: var(--orange-color);
  background: linear-gradient(
    top,
    var(--orange-color) 0%,
    var(--green-color) 50%,
    var(--lightblue-color) 100%
  );
  background: linear-gradient(
    top,
    var(--orange-color) 0%,
    var(--green-color) 50%,
    var(--lightblue-color) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--orange-color) 0%,
    var(--green-color) 50%,
    var(--lightblue-color) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--orange-color)', endColorstr='var(--lightblue-color)',GradientType=0 );
}

/* Center sides */
main section {
  display: flex;
  justify-content: center;
}
section p {
  color: var(--white-color);
  display: flex;
  font-size: 25px;
  line-height: 60px;
  opacity: 0.5;
  text-align: center;
  text-transform: capitalize;
}
aside {
  border-radius: 20px;
  margin: 0 0 20px;
}
aside a {
  color: var(--red-color);
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  padding: 20px 0 0;
  text-align: center;
}
aside h2:hover {
  text-decoration: underline;
}
aside ul {
  margin: 30px;
  text-align: right;
}
.center__right li {
  font-style: italic;
  line-height: 25px;
}
nav {
  border-radius: 20px;
  padding: 15px;
}
nav li {
  color: var(--grey-color);
  line-height: 30px;
}
nav li a {
  color: var(--pink-color);
}
nav li a:hover {
  font-size: 20px;
}
nav li::before {
  background-color: var(--pink-color);
  border-radius: 50%;
  box-shadow: 0 3px 2px var(--sand-color);
  content: "";
  display: inline-block;
  height: 10px;
  margin: 0 10px 0 0;
  width: 10px;
}
nav li:nth-child(3)::before {
  background-color: var(--grey-color);
}
