* {
  --white-color: #fff;
  --light-blue-color: #98d3e2;
  --rich-blue-hover-color: #20b2aa;
  --blue-color: #197c83;
  --dark-blue-color: #0e1a2a;
  --red-color: #f13050;
  --light-red-color: #be7480;
  --sand-color: #796748;
  --bg-blue-color: #2498a0;
  --bg-light-yellow-color: #fff0d3;
  --shadow-dark-blue-color: #084347;
  --orange-color: #ff9932;
  --green-color: #30ff3e;
  --lightblue-color: #89c8ff;
  border: 0;
  font-family: "Playfair Display";
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
a,
a:visited {
  text-decoration: none;
}

/* Blocks composing */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  min-width: 100px;
  width: 100vw;
}
header,
footer,
nav {
  align-items: center;
  display: flex;
  flex: 1;
}
header section,
footer section {
  margin: 20px;
  width: 200px;
}
h1,
h2 {
  width: 100%;
}
h1 {
  text-align: center;
}
h2 {
  text-align: right;
}

main {
  display: flex;
  flex: 2;
  font-display: row;
}
.main-blocks,
.central-blocks {
  display: flex;
  flex: 4;
  flex-direction: column;
}
.main-blocks__top-part {
  display: flex;
  flex: 5;
}
main article,
main figure {
  flex: 5;
}
main section,
aside {
  flex: 1;
}
figure {
  display: flex;
  justify-content: center;
}

/* COLORS */
header,
footer {
  background: var(--bg-blue-color);
}
main section,
body {
  background: var(--light-blue-color);
}
nav,
aside {
  background: var(--bg-light-yellow-color);
}
main article,
header section,
footer section {
  background: var(--white-color);
}

/* HEADER_FOOTER */
header,
footer {
  justify-content: space-between;
}
header div,
footer article {
  align-items: center;
  display: flex;
}

q {
  font-style: italic;
  quotes: "\00AB""\00BB""\201E""\201C";
  text-align: center;
}
q,
footer p {
  color: var(--light-blue-color);
  margin: 20px;
}

/*TITLES*/
header section,
footer section {
  border: 5px solid var(--blue-color);
  border-radius: 15px;
  box-shadow: -8px 0 8px var(--shadow-dark-blue-color);
  padding: 5px;
}
h1,
h2 {
  font-size: 30px;
  line-height: 30px;
}

/* Center__Main */
main article {
  border: 3px solid var(--red-color);
  border-radius: 15px;
  padding: 30px 30px 60px;
  position: relative;
}
main article p::first-letter {
  font-size: 30px;
  padding-left: 15px;
}
span {
  color: var(--red-color);
}

article a {
  bottom: 30px;
  color: var(--blue-color);
  font-style: italic;
  margin: 0 0 0 -30px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  text-transform: lowercase;
  width: 100%;
}
article a:hover {
  color: var(--rich-blue-hover-color);
}

/* Center sides */
main section {
  align-items: center;
  display: flex;
  justify-content: center;
}
main section p {
  color: var(--blue-color);
  font-size: 40px;
  line-height: 40px;
  opacity: 0.5;
  text-transform: uppercase;
}

nav {
  border-radius: 20px;
}
nav li {
  color: var(--light-red-color);
  height: 50px;
  padding: 0 0 0 15px;
}
nav li a {
  color: var(--red-color);
}
nav a:hover {
  font-size: 20px;
}
nav li::before {
  background-color: var(--red-color);
  border-radius: 50%;
  box-shadow: 0 3px 2px var(--sand-color);
  content: "";
  display: inline-block;
  height: 10px;
  margin: 0 10px 0 0;
  width: 10px;
}
.selected::before {
  background-color: var(--light-red-color);
}

.girl {
  background: var(--dark-blue-color) url("./images/girl.jpeg") 30% 50% no-repeat;
}
.code {
  background: var(--dark-blue-color) url("./images/css_back.jpg") 10% 65%
    no-repeat;
  background-size: auto 100%;
}
.forrest {
  background: var(--dark-blue-color) url("./images/b&w_forest.jpg") 10% 65%
    no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.zalik {
  background: var(--dark-blue-color) url("./images/zalik.jpg") no-repeat;
  background-position: right;
  background-size: auto 100%;
}
.gradient {
  background: var(--orange-color);
  background: linear-gradient(
    top,
    var(--orange-color) 0%,
    var(--green-color) 50%,
    var(--lightblue-color) 100%
  );
  background: linear-gradient(
    top,
    var(--orange-color) 0%,
    var(--green-color) 50%,
    var(--lightblue-color) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--orange-color) 0%,
    var(--green-color) 50%,
    var(--lightblue-color) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--orange-color)', endColorstr='var(--lightblue-color)',GradientType=0 );
}
