@font-face {
  font-family: "Izax";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Izax.eot");
  src: local("☺"), url("fonts/Izax.woff") format("woff"),
    url("fonts/Izax.ttf") format("truetype"),
    url("fonts/Izax.svg") format("svg");
}
@font-face {
  font-family: "Izax_Thin";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Izax_Thin.eot");
  src: local("☺"), url("fonts/Izax_Thin.woff") format("woff"),
    url("fonts/Izax_Thin.ttf") format("truetype"),
    url("fonts/Izax_Thin.svg") format("svg");
}

/*Zeroing styles*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-size: 100%;
  font-size: 14px;
  height: 100%;
  line-height: 1;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  width: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Blocks composing */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  min-width: 100px;
  width: 100vw;
}

header,
footer {
  align-items: center;
  display: flex;
  flex: 1;
}

header section,
footer section {
  margin: 20px;
  width: 200px;
}
h1,
h2 {
  width: 100%;
}
h1 {
  text-align: center;
}
h2 {
  text-align: right;
}

main {
  display: flex;
  flex: 2;
  font-display: row;
}
.main-blocks {
  display: flex;
  flex: 4;
  flex-direction: column;
}
.main-blocks__top-part {
  display: flex;
  flex: 5;
}
.central-blocks {
  display: flex;
  flex: 4;
  flex-direction: column;
}

main article,
main figure {
  flex: 5;
}

main section {
  flex: 1;
}
aside {
  flex: 1;
}
nav {
  align-items: center;
  display: flex;
  flex: 1;
}
